@model HomeViewModel

<h2>@Model.Title</h2>

@foreach (var pie in Model.Pies) // I am going to be looping over the Model.Pies
{
    <div class="col-sm-4 col-lg-4 col-md-4"> <!-- with this snippet I am making sure that my page shows the pies showing an image, the price, the name and a short description -->
        <div class="thumbnail">
            <img src="@pie.ImageThumbnailUrl" alt="">
            <div class="caption">
                <h3 class="pull-right">@pie.Price.ToString("c")</h3>
                <h3>
                    <!--I trigger the navigation by introducing a link: I want to navigate to the Details action on the HomeController-->
                    <a asp-controller="Home" asp-action="Details"
                       asp-route-id="@pie.Id">@pie.Name</a> <!--I need to specify to the details of which pie I'll want to navigate -->
                </h3>
                <p>@pie.ShortDescription</p>
            </div>
        </div>
    </div>
}




